EscuelaConduccion/EscuelaConduccion/Web References/wsServiciosVIEW_CLIENTE/ServiciosVIEW_CLIENTE.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="crearVIEW_CLIENTE">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="obj" type="tns:VIEW_CLIENTE" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="VIEW_CLIENTE">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="TIPO_DOCUMENTO" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="IDENTIFICACION" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="NOMBRES" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="APELLIDOS" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DIRECCION" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CIUDAD" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DEPARTAMENTO" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="GENERO" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TELEFONO" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CELULAR" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CORREO" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="FECHA_NACIMIENTO" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="crearVIEW_CLIENTEResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="crearVIEW_CLIENTEResult" type="tns:VIEW_CLIENTE" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="editarVIEW_CLIENTE">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="obj" type="tns:VIEW_CLIENTE" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="editarVIEW_CLIENTEResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="editarVIEW_CLIENTEResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="buscarPrimeroVIEW_CLIENTE">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="obj" type="tns:VIEW_CLIENTE" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="buscarPrimeroVIEW_CLIENTEResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="buscarPrimeroVIEW_CLIENTEResult" type="tns:VIEW_CLIENTE" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="buscarVIEW_CLIENTE">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="obj" type="tns:VIEW_CLIENTE" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="buscarVIEW_CLIENTEResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="buscarVIEW_CLIENTEResult" type="tns:ArrayOfVIEW_CLIENTE" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfVIEW_CLIENTE">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="VIEW_CLIENTE" nillable="true" type="tns:VIEW_CLIENTE" />
        </s:sequence>
      </s:complexType>
      <s:element name="listarVIEW_CLIENTE">
        <s:complexType />
      </s:element>
      <s:element name="listarVIEW_CLIENTEResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="listarVIEW_CLIENTEResult" type="tns:ArrayOfVIEW_CLIENTE" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="eliminarVIEW_CLIENTE">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="obj" type="tns:VIEW_CLIENTE" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="eliminarVIEW_CLIENTEResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="eliminarVIEW_CLIENTEResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="crearVIEW_CLIENTESoapIn">
    <wsdl:part name="parameters" element="tns:crearVIEW_CLIENTE" />
  </wsdl:message>
  <wsdl:message name="crearVIEW_CLIENTESoapOut">
    <wsdl:part name="parameters" element="tns:crearVIEW_CLIENTEResponse" />
  </wsdl:message>
  <wsdl:message name="editarVIEW_CLIENTESoapIn">
    <wsdl:part name="parameters" element="tns:editarVIEW_CLIENTE" />
  </wsdl:message>
  <wsdl:message name="editarVIEW_CLIENTESoapOut">
    <wsdl:part name="parameters" element="tns:editarVIEW_CLIENTEResponse" />
  </wsdl:message>
  <wsdl:message name="buscarPrimeroVIEW_CLIENTESoapIn">
    <wsdl:part name="parameters" element="tns:buscarPrimeroVIEW_CLIENTE" />
  </wsdl:message>
  <wsdl:message name="buscarPrimeroVIEW_CLIENTESoapOut">
    <wsdl:part name="parameters" element="tns:buscarPrimeroVIEW_CLIENTEResponse" />
  </wsdl:message>
  <wsdl:message name="buscarVIEW_CLIENTESoapIn">
    <wsdl:part name="parameters" element="tns:buscarVIEW_CLIENTE" />
  </wsdl:message>
  <wsdl:message name="buscarVIEW_CLIENTESoapOut">
    <wsdl:part name="parameters" element="tns:buscarVIEW_CLIENTEResponse" />
  </wsdl:message>
  <wsdl:message name="listarVIEW_CLIENTESoapIn">
    <wsdl:part name="parameters" element="tns:listarVIEW_CLIENTE" />
  </wsdl:message>
  <wsdl:message name="listarVIEW_CLIENTESoapOut">
    <wsdl:part name="parameters" element="tns:listarVIEW_CLIENTEResponse" />
  </wsdl:message>
  <wsdl:message name="eliminarVIEW_CLIENTESoapIn">
    <wsdl:part name="parameters" element="tns:eliminarVIEW_CLIENTE" />
  </wsdl:message>
  <wsdl:message name="eliminarVIEW_CLIENTESoapOut">
    <wsdl:part name="parameters" element="tns:eliminarVIEW_CLIENTEResponse" />
  </wsdl:message>
  <wsdl:portType name="ServiciosVIEW_CLIENTESoap">
    <wsdl:operation name="crearVIEW_CLIENTE">
      <wsdl:input message="tns:crearVIEW_CLIENTESoapIn" />
      <wsdl:output message="tns:crearVIEW_CLIENTESoapOut" />
    </wsdl:operation>
    <wsdl:operation name="editarVIEW_CLIENTE">
      <wsdl:input message="tns:editarVIEW_CLIENTESoapIn" />
      <wsdl:output message="tns:editarVIEW_CLIENTESoapOut" />
    </wsdl:operation>
    <wsdl:operation name="buscarPrimeroVIEW_CLIENTE">
      <wsdl:input message="tns:buscarPrimeroVIEW_CLIENTESoapIn" />
      <wsdl:output message="tns:buscarPrimeroVIEW_CLIENTESoapOut" />
    </wsdl:operation>
    <wsdl:operation name="buscarVIEW_CLIENTE">
      <wsdl:input message="tns:buscarVIEW_CLIENTESoapIn" />
      <wsdl:output message="tns:buscarVIEW_CLIENTESoapOut" />
    </wsdl:operation>
    <wsdl:operation name="listarVIEW_CLIENTE">
      <wsdl:input message="tns:listarVIEW_CLIENTESoapIn" />
      <wsdl:output message="tns:listarVIEW_CLIENTESoapOut" />
    </wsdl:operation>
    <wsdl:operation name="eliminarVIEW_CLIENTE">
      <wsdl:input message="tns:eliminarVIEW_CLIENTESoapIn" />
      <wsdl:output message="tns:eliminarVIEW_CLIENTESoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ServiciosVIEW_CLIENTESoap" type="tns:ServiciosVIEW_CLIENTESoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="crearVIEW_CLIENTE">
      <soap:operation soapAction="http://tempuri.org/crearVIEW_CLIENTE" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="editarVIEW_CLIENTE">
      <soap:operation soapAction="http://tempuri.org/editarVIEW_CLIENTE" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="buscarPrimeroVIEW_CLIENTE">
      <soap:operation soapAction="http://tempuri.org/buscarPrimeroVIEW_CLIENTE" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="buscarVIEW_CLIENTE">
      <soap:operation soapAction="http://tempuri.org/buscarVIEW_CLIENTE" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="listarVIEW_CLIENTE">
      <soap:operation soapAction="http://tempuri.org/listarVIEW_CLIENTE" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="eliminarVIEW_CLIENTE">
      <soap:operation soapAction="http://tempuri.org/eliminarVIEW_CLIENTE" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ServiciosVIEW_CLIENTESoap12" type="tns:ServiciosVIEW_CLIENTESoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="crearVIEW_CLIENTE">
      <soap12:operation soapAction="http://tempuri.org/crearVIEW_CLIENTE" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="editarVIEW_CLIENTE">
      <soap12:operation soapAction="http://tempuri.org/editarVIEW_CLIENTE" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="buscarPrimeroVIEW_CLIENTE">
      <soap12:operation soapAction="http://tempuri.org/buscarPrimeroVIEW_CLIENTE" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="buscarVIEW_CLIENTE">
      <soap12:operation soapAction="http://tempuri.org/buscarVIEW_CLIENTE" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="listarVIEW_CLIENTE">
      <soap12:operation soapAction="http://tempuri.org/listarVIEW_CLIENTE" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="eliminarVIEW_CLIENTE">
      <soap12:operation soapAction="http://tempuri.org/eliminarVIEW_CLIENTE" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServiciosVIEW_CLIENTE">
    <wsdl:port name="ServiciosVIEW_CLIENTESoap" binding="tns:ServiciosVIEW_CLIENTESoap">
      <soap:address location="http://localhost:52393/Model/Services/ServiciosVIEW_CLIENTE.asmx" />
    </wsdl:port>
    <wsdl:port name="ServiciosVIEW_CLIENTESoap12" binding="tns:ServiciosVIEW_CLIENTESoap12">
      <soap12:address location="http://localhost:52393/Model/Services/ServiciosVIEW_CLIENTE.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>