EscuelaConduccion/EscuelaConduccion/Web References/wsServiciosLIQUIDACION/ServiciosLIQUIDACION.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="crearLIQUIDACION">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="obj" type="tns:LIQUIDACION" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="LIQUIDACION">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="ID_CLIENTE" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="ID_TIPO_LIQUIDACION" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="FECHA_LIQUIDACION" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="TOTAL" type="s:float" />
        </s:sequence>
      </s:complexType>
      <s:element name="crearLIQUIDACIONResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="crearLIQUIDACIONResult" type="tns:LIQUIDACION" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="crearMultipleLIQUIDACION_1">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="tarifa" type="tns:TARIFA" />
            <s:element minOccurs="1" maxOccurs="1" name="id_cliente" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="TARIFA">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="ID_VIGENCIA" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="ID_TARIFA_CATEGORIA" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="NOMBRE" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ESTADO" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="crearMultipleLIQUIDACION_1Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="crearMultipleLIQUIDACION_1Result">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="crearMultipleLIQUIDACION_2">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="liquidacion" type="tns:LIQUIDACION" />
            <s:element minOccurs="0" maxOccurs="1" name="lstDetalles" type="tns:ArrayOfLIQUIDACION_DETALLE" />
            <s:element minOccurs="0" maxOccurs="1" name="myCliente" type="tns:VIEW_CLIENTE" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfLIQUIDACION_DETALLE">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="LIQUIDACION_DETALLE" nillable="true" type="tns:LIQUIDACION_DETALLE" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="LIQUIDACION_DETALLE">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="ID_LIQUIDACION" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="ID_TARIFA_DETALLE" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="VALOR_CONCEPTO" type="s:float" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="VIEW_CLIENTE">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="TIPO_DOCUMENTO" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="IDENTIFICACION" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="NOMBRES" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="APELLIDOS" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DIRECCION" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CIUDAD" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DEPARTAMENTO" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="GENERO" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TELEFONO" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CELULAR" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CORREO" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="FECHA_NACIMIENTO" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="crearMultipleLIQUIDACION_2Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="crearMultipleLIQUIDACION_2Result" type="tns:LIQUIDACION" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="editarLIQUIDACION">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="obj" type="tns:LIQUIDACION" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="editarLIQUIDACIONResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="editarLIQUIDACIONResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="buscarPrimeroLIQUIDACION">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="obj" type="tns:LIQUIDACION" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="buscarPrimeroLIQUIDACIONResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="buscarPrimeroLIQUIDACIONResult" type="tns:LIQUIDACION" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="buscarLIQUIDACION">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="obj" type="tns:LIQUIDACION" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="buscarLIQUIDACIONResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="buscarLIQUIDACIONResult" type="tns:ArrayOfLIQUIDACION" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfLIQUIDACION">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="LIQUIDACION" nillable="true" type="tns:LIQUIDACION" />
        </s:sequence>
      </s:complexType>
      <s:element name="listarLIQUIDACION">
        <s:complexType />
      </s:element>
      <s:element name="listarLIQUIDACIONResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="listarLIQUIDACIONResult" type="tns:ArrayOfLIQUIDACION" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="eliminarLIQUIDACION">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="obj" type="tns:LIQUIDACION" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="eliminarLIQUIDACIONResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="eliminarLIQUIDACIONResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="crearLIQUIDACIONSoapIn">
    <wsdl:part name="parameters" element="tns:crearLIQUIDACION" />
  </wsdl:message>
  <wsdl:message name="crearLIQUIDACIONSoapOut">
    <wsdl:part name="parameters" element="tns:crearLIQUIDACIONResponse" />
  </wsdl:message>
  <wsdl:message name="crearMultipleLIQUIDACION_1SoapIn">
    <wsdl:part name="parameters" element="tns:crearMultipleLIQUIDACION_1" />
  </wsdl:message>
  <wsdl:message name="crearMultipleLIQUIDACION_1SoapOut">
    <wsdl:part name="parameters" element="tns:crearMultipleLIQUIDACION_1Response" />
  </wsdl:message>
  <wsdl:message name="crearMultipleLIQUIDACION_2SoapIn">
    <wsdl:part name="parameters" element="tns:crearMultipleLIQUIDACION_2" />
  </wsdl:message>
  <wsdl:message name="crearMultipleLIQUIDACION_2SoapOut">
    <wsdl:part name="parameters" element="tns:crearMultipleLIQUIDACION_2Response" />
  </wsdl:message>
  <wsdl:message name="editarLIQUIDACIONSoapIn">
    <wsdl:part name="parameters" element="tns:editarLIQUIDACION" />
  </wsdl:message>
  <wsdl:message name="editarLIQUIDACIONSoapOut">
    <wsdl:part name="parameters" element="tns:editarLIQUIDACIONResponse" />
  </wsdl:message>
  <wsdl:message name="buscarPrimeroLIQUIDACIONSoapIn">
    <wsdl:part name="parameters" element="tns:buscarPrimeroLIQUIDACION" />
  </wsdl:message>
  <wsdl:message name="buscarPrimeroLIQUIDACIONSoapOut">
    <wsdl:part name="parameters" element="tns:buscarPrimeroLIQUIDACIONResponse" />
  </wsdl:message>
  <wsdl:message name="buscarLIQUIDACIONSoapIn">
    <wsdl:part name="parameters" element="tns:buscarLIQUIDACION" />
  </wsdl:message>
  <wsdl:message name="buscarLIQUIDACIONSoapOut">
    <wsdl:part name="parameters" element="tns:buscarLIQUIDACIONResponse" />
  </wsdl:message>
  <wsdl:message name="listarLIQUIDACIONSoapIn">
    <wsdl:part name="parameters" element="tns:listarLIQUIDACION" />
  </wsdl:message>
  <wsdl:message name="listarLIQUIDACIONSoapOut">
    <wsdl:part name="parameters" element="tns:listarLIQUIDACIONResponse" />
  </wsdl:message>
  <wsdl:message name="eliminarLIQUIDACIONSoapIn">
    <wsdl:part name="parameters" element="tns:eliminarLIQUIDACION" />
  </wsdl:message>
  <wsdl:message name="eliminarLIQUIDACIONSoapOut">
    <wsdl:part name="parameters" element="tns:eliminarLIQUIDACIONResponse" />
  </wsdl:message>
  <wsdl:portType name="ServiciosLIQUIDACIONSoap">
    <wsdl:operation name="crearLIQUIDACION">
      <wsdl:input message="tns:crearLIQUIDACIONSoapIn" />
      <wsdl:output message="tns:crearLIQUIDACIONSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="crearMultipleLIQUIDACION_1">
      <wsdl:input message="tns:crearMultipleLIQUIDACION_1SoapIn" />
      <wsdl:output message="tns:crearMultipleLIQUIDACION_1SoapOut" />
    </wsdl:operation>
    <wsdl:operation name="crearMultipleLIQUIDACION_2">
      <wsdl:input message="tns:crearMultipleLIQUIDACION_2SoapIn" />
      <wsdl:output message="tns:crearMultipleLIQUIDACION_2SoapOut" />
    </wsdl:operation>
    <wsdl:operation name="editarLIQUIDACION">
      <wsdl:input message="tns:editarLIQUIDACIONSoapIn" />
      <wsdl:output message="tns:editarLIQUIDACIONSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="buscarPrimeroLIQUIDACION">
      <wsdl:input message="tns:buscarPrimeroLIQUIDACIONSoapIn" />
      <wsdl:output message="tns:buscarPrimeroLIQUIDACIONSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="buscarLIQUIDACION">
      <wsdl:input message="tns:buscarLIQUIDACIONSoapIn" />
      <wsdl:output message="tns:buscarLIQUIDACIONSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="listarLIQUIDACION">
      <wsdl:input message="tns:listarLIQUIDACIONSoapIn" />
      <wsdl:output message="tns:listarLIQUIDACIONSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="eliminarLIQUIDACION">
      <wsdl:input message="tns:eliminarLIQUIDACIONSoapIn" />
      <wsdl:output message="tns:eliminarLIQUIDACIONSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ServiciosLIQUIDACIONSoap" type="tns:ServiciosLIQUIDACIONSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="crearLIQUIDACION">
      <soap:operation soapAction="http://tempuri.org/crearLIQUIDACION" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="crearMultipleLIQUIDACION_1">
      <soap:operation soapAction="http://tempuri.org/crearMultipleLIQUIDACION_1" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="crearMultipleLIQUIDACION_2">
      <soap:operation soapAction="http://tempuri.org/crearMultipleLIQUIDACION_2" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="editarLIQUIDACION">
      <soap:operation soapAction="http://tempuri.org/editarLIQUIDACION" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="buscarPrimeroLIQUIDACION">
      <soap:operation soapAction="http://tempuri.org/buscarPrimeroLIQUIDACION" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="buscarLIQUIDACION">
      <soap:operation soapAction="http://tempuri.org/buscarLIQUIDACION" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="listarLIQUIDACION">
      <soap:operation soapAction="http://tempuri.org/listarLIQUIDACION" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="eliminarLIQUIDACION">
      <soap:operation soapAction="http://tempuri.org/eliminarLIQUIDACION" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ServiciosLIQUIDACIONSoap12" type="tns:ServiciosLIQUIDACIONSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="crearLIQUIDACION">
      <soap12:operation soapAction="http://tempuri.org/crearLIQUIDACION" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="crearMultipleLIQUIDACION_1">
      <soap12:operation soapAction="http://tempuri.org/crearMultipleLIQUIDACION_1" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="crearMultipleLIQUIDACION_2">
      <soap12:operation soapAction="http://tempuri.org/crearMultipleLIQUIDACION_2" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="editarLIQUIDACION">
      <soap12:operation soapAction="http://tempuri.org/editarLIQUIDACION" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="buscarPrimeroLIQUIDACION">
      <soap12:operation soapAction="http://tempuri.org/buscarPrimeroLIQUIDACION" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="buscarLIQUIDACION">
      <soap12:operation soapAction="http://tempuri.org/buscarLIQUIDACION" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="listarLIQUIDACION">
      <soap12:operation soapAction="http://tempuri.org/listarLIQUIDACION" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="eliminarLIQUIDACION">
      <soap12:operation soapAction="http://tempuri.org/eliminarLIQUIDACION" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServiciosLIQUIDACION">
    <wsdl:port name="ServiciosLIQUIDACIONSoap" binding="tns:ServiciosLIQUIDACIONSoap">
      <soap:address location="http://localhost:52393/Model/Services/ServiciosLIQUIDACION.asmx" />
    </wsdl:port>
    <wsdl:port name="ServiciosLIQUIDACIONSoap12" binding="tns:ServiciosLIQUIDACIONSoap12">
      <soap12:address location="http://localhost:52393/Model/Services/ServiciosLIQUIDACION.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>