EscuelaConduccion/EscuelaConduccion/Web References/wsServiciosTARIFA_DETALLE/ServiciosTARIFA_DETALLE.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="crearTARIFA_DETALLE">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="obj" type="tns:TARIFA_DETALLE" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="TARIFA_DETALLE">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="ID_TARIFA" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="ID_TARIFA_CONCEPTO" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="TERCERO" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DESCONTABLE" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="FORMULA" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="crearTARIFA_DETALLEResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="crearTARIFA_DETALLEResult" type="tns:TARIFA_DETALLE" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="editarTARIFA_DETALLE">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="obj" type="tns:TARIFA_DETALLE" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="editarTARIFA_DETALLEResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="editarTARIFA_DETALLEResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="buscarPrimeroTARIFA_DETALLE">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="obj" type="tns:TARIFA_DETALLE" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="buscarPrimeroTARIFA_DETALLEResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="buscarPrimeroTARIFA_DETALLEResult" type="tns:TARIFA_DETALLE" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="buscarTARIFA_DETALLE">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="obj" type="tns:TARIFA_DETALLE" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="buscarTARIFA_DETALLEResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="buscarTARIFA_DETALLEResult" type="tns:ArrayOfTARIFA_DETALLE" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfTARIFA_DETALLE">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="TARIFA_DETALLE" nillable="true" type="tns:TARIFA_DETALLE" />
        </s:sequence>
      </s:complexType>
      <s:element name="listarTARIFA_DETALLE">
        <s:complexType />
      </s:element>
      <s:element name="listarTARIFA_DETALLEResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="listarTARIFA_DETALLEResult" type="tns:ArrayOfTARIFA_DETALLE" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="eliminarTARIFA_DETALLE">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="obj" type="tns:TARIFA_DETALLE" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="eliminarTARIFA_DETALLEResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="eliminarTARIFA_DETALLEResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="crearTARIFA_DETALLESoapIn">
    <wsdl:part name="parameters" element="tns:crearTARIFA_DETALLE" />
  </wsdl:message>
  <wsdl:message name="crearTARIFA_DETALLESoapOut">
    <wsdl:part name="parameters" element="tns:crearTARIFA_DETALLEResponse" />
  </wsdl:message>
  <wsdl:message name="editarTARIFA_DETALLESoapIn">
    <wsdl:part name="parameters" element="tns:editarTARIFA_DETALLE" />
  </wsdl:message>
  <wsdl:message name="editarTARIFA_DETALLESoapOut">
    <wsdl:part name="parameters" element="tns:editarTARIFA_DETALLEResponse" />
  </wsdl:message>
  <wsdl:message name="buscarPrimeroTARIFA_DETALLESoapIn">
    <wsdl:part name="parameters" element="tns:buscarPrimeroTARIFA_DETALLE" />
  </wsdl:message>
  <wsdl:message name="buscarPrimeroTARIFA_DETALLESoapOut">
    <wsdl:part name="parameters" element="tns:buscarPrimeroTARIFA_DETALLEResponse" />
  </wsdl:message>
  <wsdl:message name="buscarTARIFA_DETALLESoapIn">
    <wsdl:part name="parameters" element="tns:buscarTARIFA_DETALLE" />
  </wsdl:message>
  <wsdl:message name="buscarTARIFA_DETALLESoapOut">
    <wsdl:part name="parameters" element="tns:buscarTARIFA_DETALLEResponse" />
  </wsdl:message>
  <wsdl:message name="listarTARIFA_DETALLESoapIn">
    <wsdl:part name="parameters" element="tns:listarTARIFA_DETALLE" />
  </wsdl:message>
  <wsdl:message name="listarTARIFA_DETALLESoapOut">
    <wsdl:part name="parameters" element="tns:listarTARIFA_DETALLEResponse" />
  </wsdl:message>
  <wsdl:message name="eliminarTARIFA_DETALLESoapIn">
    <wsdl:part name="parameters" element="tns:eliminarTARIFA_DETALLE" />
  </wsdl:message>
  <wsdl:message name="eliminarTARIFA_DETALLESoapOut">
    <wsdl:part name="parameters" element="tns:eliminarTARIFA_DETALLEResponse" />
  </wsdl:message>
  <wsdl:portType name="ServiciosTARIFA_DETALLESoap">
    <wsdl:operation name="crearTARIFA_DETALLE">
      <wsdl:input message="tns:crearTARIFA_DETALLESoapIn" />
      <wsdl:output message="tns:crearTARIFA_DETALLESoapOut" />
    </wsdl:operation>
    <wsdl:operation name="editarTARIFA_DETALLE">
      <wsdl:input message="tns:editarTARIFA_DETALLESoapIn" />
      <wsdl:output message="tns:editarTARIFA_DETALLESoapOut" />
    </wsdl:operation>
    <wsdl:operation name="buscarPrimeroTARIFA_DETALLE">
      <wsdl:input message="tns:buscarPrimeroTARIFA_DETALLESoapIn" />
      <wsdl:output message="tns:buscarPrimeroTARIFA_DETALLESoapOut" />
    </wsdl:operation>
    <wsdl:operation name="buscarTARIFA_DETALLE">
      <wsdl:input message="tns:buscarTARIFA_DETALLESoapIn" />
      <wsdl:output message="tns:buscarTARIFA_DETALLESoapOut" />
    </wsdl:operation>
    <wsdl:operation name="listarTARIFA_DETALLE">
      <wsdl:input message="tns:listarTARIFA_DETALLESoapIn" />
      <wsdl:output message="tns:listarTARIFA_DETALLESoapOut" />
    </wsdl:operation>
    <wsdl:operation name="eliminarTARIFA_DETALLE">
      <wsdl:input message="tns:eliminarTARIFA_DETALLESoapIn" />
      <wsdl:output message="tns:eliminarTARIFA_DETALLESoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ServiciosTARIFA_DETALLESoap" type="tns:ServiciosTARIFA_DETALLESoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="crearTARIFA_DETALLE">
      <soap:operation soapAction="http://tempuri.org/crearTARIFA_DETALLE" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="editarTARIFA_DETALLE">
      <soap:operation soapAction="http://tempuri.org/editarTARIFA_DETALLE" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="buscarPrimeroTARIFA_DETALLE">
      <soap:operation soapAction="http://tempuri.org/buscarPrimeroTARIFA_DETALLE" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="buscarTARIFA_DETALLE">
      <soap:operation soapAction="http://tempuri.org/buscarTARIFA_DETALLE" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="listarTARIFA_DETALLE">
      <soap:operation soapAction="http://tempuri.org/listarTARIFA_DETALLE" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="eliminarTARIFA_DETALLE">
      <soap:operation soapAction="http://tempuri.org/eliminarTARIFA_DETALLE" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ServiciosTARIFA_DETALLESoap12" type="tns:ServiciosTARIFA_DETALLESoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="crearTARIFA_DETALLE">
      <soap12:operation soapAction="http://tempuri.org/crearTARIFA_DETALLE" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="editarTARIFA_DETALLE">
      <soap12:operation soapAction="http://tempuri.org/editarTARIFA_DETALLE" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="buscarPrimeroTARIFA_DETALLE">
      <soap12:operation soapAction="http://tempuri.org/buscarPrimeroTARIFA_DETALLE" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="buscarTARIFA_DETALLE">
      <soap12:operation soapAction="http://tempuri.org/buscarTARIFA_DETALLE" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="listarTARIFA_DETALLE">
      <soap12:operation soapAction="http://tempuri.org/listarTARIFA_DETALLE" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="eliminarTARIFA_DETALLE">
      <soap12:operation soapAction="http://tempuri.org/eliminarTARIFA_DETALLE" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServiciosTARIFA_DETALLE">
    <wsdl:port name="ServiciosTARIFA_DETALLESoap" binding="tns:ServiciosTARIFA_DETALLESoap">
      <soap:address location="http://localhost:52393/Model/Services/ServiciosTARIFA_DETALLE.asmx" />
    </wsdl:port>
    <wsdl:port name="ServiciosTARIFA_DETALLESoap12" binding="tns:ServiciosTARIFA_DETALLESoap12">
      <soap12:address location="http://localhost:52393/Model/Services/ServiciosTARIFA_DETALLE.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>