EscuelaConduccion/EscuelaConduccion/Web References/wsServiciosACUERDO_PAGO_DETALLE/ServiciosACUERDO_PAGO_DETALLE.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="crearACUERDO_PAGO_DETALLE">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="obj" type="tns:ACUERDO_PAGO_DETALLE" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ACUERDO_PAGO_DETALLE">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="ID_ACUERDO_PAGO" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="ID_RECIBO" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="NUMERO_CUOTA" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="VALOR" type="s:float" />
          <s:element minOccurs="1" maxOccurs="1" name="FECHA_LIMITE_PAGO" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="PORCENTAJE" type="s:float" />
        </s:sequence>
      </s:complexType>
      <s:element name="crearACUERDO_PAGO_DETALLEResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="crearACUERDO_PAGO_DETALLEResult" type="tns:ACUERDO_PAGO_DETALLE" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="crearACUERDO_PAGO_DETALLE_Masivo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="lst" type="tns:ArrayOfACUERDO_PAGO_DETALLE" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfACUERDO_PAGO_DETALLE">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="ACUERDO_PAGO_DETALLE" nillable="true" type="tns:ACUERDO_PAGO_DETALLE" />
        </s:sequence>
      </s:complexType>
      <s:element name="crearACUERDO_PAGO_DETALLE_MasivoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="crearACUERDO_PAGO_DETALLE_MasivoResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="editarACUERDO_PAGO_DETALLE">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="obj" type="tns:ACUERDO_PAGO_DETALLE" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="editarACUERDO_PAGO_DETALLEResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="editarACUERDO_PAGO_DETALLEResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="buscarPrimeroACUERDO_PAGO_DETALLE">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="obj" type="tns:ACUERDO_PAGO_DETALLE" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="buscarPrimeroACUERDO_PAGO_DETALLEResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="buscarPrimeroACUERDO_PAGO_DETALLEResult" type="tns:ACUERDO_PAGO_DETALLE" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="buscarACUERDO_PAGO_DETALLE">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="obj" type="tns:ACUERDO_PAGO_DETALLE" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="buscarACUERDO_PAGO_DETALLEResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="buscarACUERDO_PAGO_DETALLEResult" type="tns:ArrayOfACUERDO_PAGO_DETALLE" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="listarACUERDO_PAGO_DETALLE">
        <s:complexType />
      </s:element>
      <s:element name="listarACUERDO_PAGO_DETALLEResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="listarACUERDO_PAGO_DETALLEResult" type="tns:ArrayOfACUERDO_PAGO_DETALLE" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="eliminarACUERDO_PAGO_DETALLE">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="obj" type="tns:ACUERDO_PAGO_DETALLE" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="eliminarACUERDO_PAGO_DETALLEResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="eliminarACUERDO_PAGO_DETALLEResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="crearACUERDO_PAGO_DETALLESoapIn">
    <wsdl:part name="parameters" element="tns:crearACUERDO_PAGO_DETALLE" />
  </wsdl:message>
  <wsdl:message name="crearACUERDO_PAGO_DETALLESoapOut">
    <wsdl:part name="parameters" element="tns:crearACUERDO_PAGO_DETALLEResponse" />
  </wsdl:message>
  <wsdl:message name="crearACUERDO_PAGO_DETALLE_MasivoSoapIn">
    <wsdl:part name="parameters" element="tns:crearACUERDO_PAGO_DETALLE_Masivo" />
  </wsdl:message>
  <wsdl:message name="crearACUERDO_PAGO_DETALLE_MasivoSoapOut">
    <wsdl:part name="parameters" element="tns:crearACUERDO_PAGO_DETALLE_MasivoResponse" />
  </wsdl:message>
  <wsdl:message name="editarACUERDO_PAGO_DETALLESoapIn">
    <wsdl:part name="parameters" element="tns:editarACUERDO_PAGO_DETALLE" />
  </wsdl:message>
  <wsdl:message name="editarACUERDO_PAGO_DETALLESoapOut">
    <wsdl:part name="parameters" element="tns:editarACUERDO_PAGO_DETALLEResponse" />
  </wsdl:message>
  <wsdl:message name="buscarPrimeroACUERDO_PAGO_DETALLESoapIn">
    <wsdl:part name="parameters" element="tns:buscarPrimeroACUERDO_PAGO_DETALLE" />
  </wsdl:message>
  <wsdl:message name="buscarPrimeroACUERDO_PAGO_DETALLESoapOut">
    <wsdl:part name="parameters" element="tns:buscarPrimeroACUERDO_PAGO_DETALLEResponse" />
  </wsdl:message>
  <wsdl:message name="buscarACUERDO_PAGO_DETALLESoapIn">
    <wsdl:part name="parameters" element="tns:buscarACUERDO_PAGO_DETALLE" />
  </wsdl:message>
  <wsdl:message name="buscarACUERDO_PAGO_DETALLESoapOut">
    <wsdl:part name="parameters" element="tns:buscarACUERDO_PAGO_DETALLEResponse" />
  </wsdl:message>
  <wsdl:message name="listarACUERDO_PAGO_DETALLESoapIn">
    <wsdl:part name="parameters" element="tns:listarACUERDO_PAGO_DETALLE" />
  </wsdl:message>
  <wsdl:message name="listarACUERDO_PAGO_DETALLESoapOut">
    <wsdl:part name="parameters" element="tns:listarACUERDO_PAGO_DETALLEResponse" />
  </wsdl:message>
  <wsdl:message name="eliminarACUERDO_PAGO_DETALLESoapIn">
    <wsdl:part name="parameters" element="tns:eliminarACUERDO_PAGO_DETALLE" />
  </wsdl:message>
  <wsdl:message name="eliminarACUERDO_PAGO_DETALLESoapOut">
    <wsdl:part name="parameters" element="tns:eliminarACUERDO_PAGO_DETALLEResponse" />
  </wsdl:message>
  <wsdl:portType name="ServiciosACUERDO_PAGO_DETALLESoap">
    <wsdl:operation name="crearACUERDO_PAGO_DETALLE">
      <wsdl:input message="tns:crearACUERDO_PAGO_DETALLESoapIn" />
      <wsdl:output message="tns:crearACUERDO_PAGO_DETALLESoapOut" />
    </wsdl:operation>
    <wsdl:operation name="crearACUERDO_PAGO_DETALLE_Masivo">
      <wsdl:input message="tns:crearACUERDO_PAGO_DETALLE_MasivoSoapIn" />
      <wsdl:output message="tns:crearACUERDO_PAGO_DETALLE_MasivoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="editarACUERDO_PAGO_DETALLE">
      <wsdl:input message="tns:editarACUERDO_PAGO_DETALLESoapIn" />
      <wsdl:output message="tns:editarACUERDO_PAGO_DETALLESoapOut" />
    </wsdl:operation>
    <wsdl:operation name="buscarPrimeroACUERDO_PAGO_DETALLE">
      <wsdl:input message="tns:buscarPrimeroACUERDO_PAGO_DETALLESoapIn" />
      <wsdl:output message="tns:buscarPrimeroACUERDO_PAGO_DETALLESoapOut" />
    </wsdl:operation>
    <wsdl:operation name="buscarACUERDO_PAGO_DETALLE">
      <wsdl:input message="tns:buscarACUERDO_PAGO_DETALLESoapIn" />
      <wsdl:output message="tns:buscarACUERDO_PAGO_DETALLESoapOut" />
    </wsdl:operation>
    <wsdl:operation name="listarACUERDO_PAGO_DETALLE">
      <wsdl:input message="tns:listarACUERDO_PAGO_DETALLESoapIn" />
      <wsdl:output message="tns:listarACUERDO_PAGO_DETALLESoapOut" />
    </wsdl:operation>
    <wsdl:operation name="eliminarACUERDO_PAGO_DETALLE">
      <wsdl:input message="tns:eliminarACUERDO_PAGO_DETALLESoapIn" />
      <wsdl:output message="tns:eliminarACUERDO_PAGO_DETALLESoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ServiciosACUERDO_PAGO_DETALLESoap" type="tns:ServiciosACUERDO_PAGO_DETALLESoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="crearACUERDO_PAGO_DETALLE">
      <soap:operation soapAction="http://tempuri.org/crearACUERDO_PAGO_DETALLE" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="crearACUERDO_PAGO_DETALLE_Masivo">
      <soap:operation soapAction="http://tempuri.org/crearACUERDO_PAGO_DETALLE_Masivo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="editarACUERDO_PAGO_DETALLE">
      <soap:operation soapAction="http://tempuri.org/editarACUERDO_PAGO_DETALLE" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="buscarPrimeroACUERDO_PAGO_DETALLE">
      <soap:operation soapAction="http://tempuri.org/buscarPrimeroACUERDO_PAGO_DETALLE" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="buscarACUERDO_PAGO_DETALLE">
      <soap:operation soapAction="http://tempuri.org/buscarACUERDO_PAGO_DETALLE" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="listarACUERDO_PAGO_DETALLE">
      <soap:operation soapAction="http://tempuri.org/listarACUERDO_PAGO_DETALLE" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="eliminarACUERDO_PAGO_DETALLE">
      <soap:operation soapAction="http://tempuri.org/eliminarACUERDO_PAGO_DETALLE" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ServiciosACUERDO_PAGO_DETALLESoap12" type="tns:ServiciosACUERDO_PAGO_DETALLESoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="crearACUERDO_PAGO_DETALLE">
      <soap12:operation soapAction="http://tempuri.org/crearACUERDO_PAGO_DETALLE" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="crearACUERDO_PAGO_DETALLE_Masivo">
      <soap12:operation soapAction="http://tempuri.org/crearACUERDO_PAGO_DETALLE_Masivo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="editarACUERDO_PAGO_DETALLE">
      <soap12:operation soapAction="http://tempuri.org/editarACUERDO_PAGO_DETALLE" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="buscarPrimeroACUERDO_PAGO_DETALLE">
      <soap12:operation soapAction="http://tempuri.org/buscarPrimeroACUERDO_PAGO_DETALLE" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="buscarACUERDO_PAGO_DETALLE">
      <soap12:operation soapAction="http://tempuri.org/buscarACUERDO_PAGO_DETALLE" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="listarACUERDO_PAGO_DETALLE">
      <soap12:operation soapAction="http://tempuri.org/listarACUERDO_PAGO_DETALLE" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="eliminarACUERDO_PAGO_DETALLE">
      <soap12:operation soapAction="http://tempuri.org/eliminarACUERDO_PAGO_DETALLE" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServiciosACUERDO_PAGO_DETALLE">
    <wsdl:port name="ServiciosACUERDO_PAGO_DETALLESoap" binding="tns:ServiciosACUERDO_PAGO_DETALLESoap">
      <soap:address location="http://localhost:52393/Model/Services/ServiciosACUERDO_PAGO_DETALLE.asmx" />
    </wsdl:port>
    <wsdl:port name="ServiciosACUERDO_PAGO_DETALLESoap12" binding="tns:ServiciosACUERDO_PAGO_DETALLESoap12">
      <soap12:address location="http://localhost:52393/Model/Services/ServiciosACUERDO_PAGO_DETALLE.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>