EscuelaConduccion/EscuelaConduccion/Web References/WSServiciosRECIBO/ServiciosRECIBO.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="crearRECIBO">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="obj" type="tns:RECIBO" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="RECIBO">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="ID_LIQUIDACION" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="ID_ESTADO" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="NUMERO_RECIBO" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="FECHA_RECIBO" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="FECHA_REGISTRO_PAGO" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="FECHA_PAGO" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="VALOR" type="s:float" />
          <s:element minOccurs="1" maxOccurs="1" name="FECHA_VENCIMIENTO" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="FECHA_ENTRAMITE" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="FECHA_ANULADO" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="FECHA_PAGOANULADO" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="FECHA_PROCESADO" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="ARCHIVO_FISICO" type="s:base64Binary" />
        </s:sequence>
      </s:complexType>
      <s:element name="crearRECIBOResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="crearRECIBOResult" type="tns:RECIBO" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="generarRECIBO">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="liquidacion" type="tns:LIQUIDACION" />
            <s:element minOccurs="0" maxOccurs="1" name="lstDetalles" type="tns:ArrayOfLIQUIDACION_DETALLE" />
            <s:element minOccurs="0" maxOccurs="1" name="myCliente" type="tns:VIEW_CLIENTE" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="LIQUIDACION">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="ID_CLIENTE" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="ID_TIPO_LIQUIDACION" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="FECHA_LIQUIDACION" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="TOTAL" type="s:float" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfLIQUIDACION_DETALLE">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="LIQUIDACION_DETALLE" nillable="true" type="tns:LIQUIDACION_DETALLE" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="LIQUIDACION_DETALLE">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="ID_LIQUIDACION" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="ID_TARIFA_DETALLE" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="VALOR_CONCEPTO" type="s:float" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="VIEW_CLIENTE">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="TIPO_DOCUMENTO" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="IDENTIFICACION" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="NOMBRES" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="APELLIDOS" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DIRECCION" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CIUDAD" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DEPARTAMENTO" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="GENERO" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TELEFONO" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CELULAR" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CORREO" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="FECHA_NACIMIENTO" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="generarRECIBOResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="generarRECIBOResult" type="tns:RECIBO" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="editarRECIBO">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="obj" type="tns:RECIBO" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="editarRECIBOResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="editarRECIBOResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="buscarPrimeroRECIBO">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="obj" type="tns:RECIBO" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="buscarPrimeroRECIBOResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="buscarPrimeroRECIBOResult" type="tns:RECIBO" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="buscarRECIBO">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="obj" type="tns:RECIBO" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="buscarRECIBOResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="buscarRECIBOResult" type="tns:ArrayOfRECIBO" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfRECIBO">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="RECIBO" nillable="true" type="tns:RECIBO" />
        </s:sequence>
      </s:complexType>
      <s:element name="listarRECIBO">
        <s:complexType />
      </s:element>
      <s:element name="listarRECIBOResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="listarRECIBOResult" type="tns:ArrayOfRECIBO" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="eliminarRECIBO">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="obj" type="tns:RECIBO" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="eliminarRECIBOResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="eliminarRECIBOResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="crearRECIBOSoapIn">
    <wsdl:part name="parameters" element="tns:crearRECIBO" />
  </wsdl:message>
  <wsdl:message name="crearRECIBOSoapOut">
    <wsdl:part name="parameters" element="tns:crearRECIBOResponse" />
  </wsdl:message>
  <wsdl:message name="generarRECIBOSoapIn">
    <wsdl:part name="parameters" element="tns:generarRECIBO" />
  </wsdl:message>
  <wsdl:message name="generarRECIBOSoapOut">
    <wsdl:part name="parameters" element="tns:generarRECIBOResponse" />
  </wsdl:message>
  <wsdl:message name="editarRECIBOSoapIn">
    <wsdl:part name="parameters" element="tns:editarRECIBO" />
  </wsdl:message>
  <wsdl:message name="editarRECIBOSoapOut">
    <wsdl:part name="parameters" element="tns:editarRECIBOResponse" />
  </wsdl:message>
  <wsdl:message name="buscarPrimeroRECIBOSoapIn">
    <wsdl:part name="parameters" element="tns:buscarPrimeroRECIBO" />
  </wsdl:message>
  <wsdl:message name="buscarPrimeroRECIBOSoapOut">
    <wsdl:part name="parameters" element="tns:buscarPrimeroRECIBOResponse" />
  </wsdl:message>
  <wsdl:message name="buscarRECIBOSoapIn">
    <wsdl:part name="parameters" element="tns:buscarRECIBO" />
  </wsdl:message>
  <wsdl:message name="buscarRECIBOSoapOut">
    <wsdl:part name="parameters" element="tns:buscarRECIBOResponse" />
  </wsdl:message>
  <wsdl:message name="listarRECIBOSoapIn">
    <wsdl:part name="parameters" element="tns:listarRECIBO" />
  </wsdl:message>
  <wsdl:message name="listarRECIBOSoapOut">
    <wsdl:part name="parameters" element="tns:listarRECIBOResponse" />
  </wsdl:message>
  <wsdl:message name="eliminarRECIBOSoapIn">
    <wsdl:part name="parameters" element="tns:eliminarRECIBO" />
  </wsdl:message>
  <wsdl:message name="eliminarRECIBOSoapOut">
    <wsdl:part name="parameters" element="tns:eliminarRECIBOResponse" />
  </wsdl:message>
  <wsdl:portType name="ServiciosRECIBOSoap">
    <wsdl:operation name="crearRECIBO">
      <wsdl:input message="tns:crearRECIBOSoapIn" />
      <wsdl:output message="tns:crearRECIBOSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="generarRECIBO">
      <wsdl:input message="tns:generarRECIBOSoapIn" />
      <wsdl:output message="tns:generarRECIBOSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="editarRECIBO">
      <wsdl:input message="tns:editarRECIBOSoapIn" />
      <wsdl:output message="tns:editarRECIBOSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="buscarPrimeroRECIBO">
      <wsdl:input message="tns:buscarPrimeroRECIBOSoapIn" />
      <wsdl:output message="tns:buscarPrimeroRECIBOSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="buscarRECIBO">
      <wsdl:input message="tns:buscarRECIBOSoapIn" />
      <wsdl:output message="tns:buscarRECIBOSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="listarRECIBO">
      <wsdl:input message="tns:listarRECIBOSoapIn" />
      <wsdl:output message="tns:listarRECIBOSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="eliminarRECIBO">
      <wsdl:input message="tns:eliminarRECIBOSoapIn" />
      <wsdl:output message="tns:eliminarRECIBOSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ServiciosRECIBOSoap" type="tns:ServiciosRECIBOSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="crearRECIBO">
      <soap:operation soapAction="http://tempuri.org/crearRECIBO" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="generarRECIBO">
      <soap:operation soapAction="http://tempuri.org/generarRECIBO" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="editarRECIBO">
      <soap:operation soapAction="http://tempuri.org/editarRECIBO" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="buscarPrimeroRECIBO">
      <soap:operation soapAction="http://tempuri.org/buscarPrimeroRECIBO" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="buscarRECIBO">
      <soap:operation soapAction="http://tempuri.org/buscarRECIBO" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="listarRECIBO">
      <soap:operation soapAction="http://tempuri.org/listarRECIBO" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="eliminarRECIBO">
      <soap:operation soapAction="http://tempuri.org/eliminarRECIBO" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ServiciosRECIBOSoap12" type="tns:ServiciosRECIBOSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="crearRECIBO">
      <soap12:operation soapAction="http://tempuri.org/crearRECIBO" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="generarRECIBO">
      <soap12:operation soapAction="http://tempuri.org/generarRECIBO" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="editarRECIBO">
      <soap12:operation soapAction="http://tempuri.org/editarRECIBO" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="buscarPrimeroRECIBO">
      <soap12:operation soapAction="http://tempuri.org/buscarPrimeroRECIBO" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="buscarRECIBO">
      <soap12:operation soapAction="http://tempuri.org/buscarRECIBO" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="listarRECIBO">
      <soap12:operation soapAction="http://tempuri.org/listarRECIBO" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="eliminarRECIBO">
      <soap12:operation soapAction="http://tempuri.org/eliminarRECIBO" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServiciosRECIBO">
    <wsdl:port name="ServiciosRECIBOSoap" binding="tns:ServiciosRECIBOSoap">
      <soap:address location="http://localhost:52393/Model/Services/ServiciosRECIBO.asmx" />
    </wsdl:port>
    <wsdl:port name="ServiciosRECIBOSoap12" binding="tns:ServiciosRECIBOSoap12">
      <soap12:address location="http://localhost:52393/Model/Services/ServiciosRECIBO.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>