EscuelaConduccion/EscuelaConduccion/Web References/wsServiciosTARIFA_CONCEPTO/ServiciosTARIFA_CONCEPTO.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="crearTARIFA_CONCEPTO">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="obj" type="tns:TARIFA_CONCEPTO" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="TARIFA_CONCEPTO">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="CODIGO" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="NOMBRE" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DESCRIPCION" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ESTADO" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="crearTARIFA_CONCEPTOResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="crearTARIFA_CONCEPTOResult" type="tns:TARIFA_CONCEPTO" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="editarTARIFA_CONCEPTO">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="obj" type="tns:TARIFA_CONCEPTO" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="editarTARIFA_CONCEPTOResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="editarTARIFA_CONCEPTOResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="buscarPrimeroTARIFA_CONCEPTO">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="obj" type="tns:TARIFA_CONCEPTO" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="buscarPrimeroTARIFA_CONCEPTOResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="buscarPrimeroTARIFA_CONCEPTOResult" type="tns:TARIFA_CONCEPTO" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="buscarTARIFA_CONCEPTO">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="obj" type="tns:TARIFA_CONCEPTO" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="buscarTARIFA_CONCEPTOResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="buscarTARIFA_CONCEPTOResult" type="tns:ArrayOfTARIFA_CONCEPTO" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfTARIFA_CONCEPTO">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="TARIFA_CONCEPTO" nillable="true" type="tns:TARIFA_CONCEPTO" />
        </s:sequence>
      </s:complexType>
      <s:element name="listarTARIFA_CONCEPTO">
        <s:complexType />
      </s:element>
      <s:element name="listarTARIFA_CONCEPTOResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="listarTARIFA_CONCEPTOResult" type="tns:ArrayOfTARIFA_CONCEPTO" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="eliminarTARIFA_CONCEPTO">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="obj" type="tns:TARIFA_CONCEPTO" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="eliminarTARIFA_CONCEPTOResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="eliminarTARIFA_CONCEPTOResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="crearTARIFA_CONCEPTOSoapIn">
    <wsdl:part name="parameters" element="tns:crearTARIFA_CONCEPTO" />
  </wsdl:message>
  <wsdl:message name="crearTARIFA_CONCEPTOSoapOut">
    <wsdl:part name="parameters" element="tns:crearTARIFA_CONCEPTOResponse" />
  </wsdl:message>
  <wsdl:message name="editarTARIFA_CONCEPTOSoapIn">
    <wsdl:part name="parameters" element="tns:editarTARIFA_CONCEPTO" />
  </wsdl:message>
  <wsdl:message name="editarTARIFA_CONCEPTOSoapOut">
    <wsdl:part name="parameters" element="tns:editarTARIFA_CONCEPTOResponse" />
  </wsdl:message>
  <wsdl:message name="buscarPrimeroTARIFA_CONCEPTOSoapIn">
    <wsdl:part name="parameters" element="tns:buscarPrimeroTARIFA_CONCEPTO" />
  </wsdl:message>
  <wsdl:message name="buscarPrimeroTARIFA_CONCEPTOSoapOut">
    <wsdl:part name="parameters" element="tns:buscarPrimeroTARIFA_CONCEPTOResponse" />
  </wsdl:message>
  <wsdl:message name="buscarTARIFA_CONCEPTOSoapIn">
    <wsdl:part name="parameters" element="tns:buscarTARIFA_CONCEPTO" />
  </wsdl:message>
  <wsdl:message name="buscarTARIFA_CONCEPTOSoapOut">
    <wsdl:part name="parameters" element="tns:buscarTARIFA_CONCEPTOResponse" />
  </wsdl:message>
  <wsdl:message name="listarTARIFA_CONCEPTOSoapIn">
    <wsdl:part name="parameters" element="tns:listarTARIFA_CONCEPTO" />
  </wsdl:message>
  <wsdl:message name="listarTARIFA_CONCEPTOSoapOut">
    <wsdl:part name="parameters" element="tns:listarTARIFA_CONCEPTOResponse" />
  </wsdl:message>
  <wsdl:message name="eliminarTARIFA_CONCEPTOSoapIn">
    <wsdl:part name="parameters" element="tns:eliminarTARIFA_CONCEPTO" />
  </wsdl:message>
  <wsdl:message name="eliminarTARIFA_CONCEPTOSoapOut">
    <wsdl:part name="parameters" element="tns:eliminarTARIFA_CONCEPTOResponse" />
  </wsdl:message>
  <wsdl:portType name="ServiciosTARIFA_CONCEPTOSoap">
    <wsdl:operation name="crearTARIFA_CONCEPTO">
      <wsdl:input message="tns:crearTARIFA_CONCEPTOSoapIn" />
      <wsdl:output message="tns:crearTARIFA_CONCEPTOSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="editarTARIFA_CONCEPTO">
      <wsdl:input message="tns:editarTARIFA_CONCEPTOSoapIn" />
      <wsdl:output message="tns:editarTARIFA_CONCEPTOSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="buscarPrimeroTARIFA_CONCEPTO">
      <wsdl:input message="tns:buscarPrimeroTARIFA_CONCEPTOSoapIn" />
      <wsdl:output message="tns:buscarPrimeroTARIFA_CONCEPTOSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="buscarTARIFA_CONCEPTO">
      <wsdl:input message="tns:buscarTARIFA_CONCEPTOSoapIn" />
      <wsdl:output message="tns:buscarTARIFA_CONCEPTOSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="listarTARIFA_CONCEPTO">
      <wsdl:input message="tns:listarTARIFA_CONCEPTOSoapIn" />
      <wsdl:output message="tns:listarTARIFA_CONCEPTOSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="eliminarTARIFA_CONCEPTO">
      <wsdl:input message="tns:eliminarTARIFA_CONCEPTOSoapIn" />
      <wsdl:output message="tns:eliminarTARIFA_CONCEPTOSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ServiciosTARIFA_CONCEPTOSoap" type="tns:ServiciosTARIFA_CONCEPTOSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="crearTARIFA_CONCEPTO">
      <soap:operation soapAction="http://tempuri.org/crearTARIFA_CONCEPTO" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="editarTARIFA_CONCEPTO">
      <soap:operation soapAction="http://tempuri.org/editarTARIFA_CONCEPTO" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="buscarPrimeroTARIFA_CONCEPTO">
      <soap:operation soapAction="http://tempuri.org/buscarPrimeroTARIFA_CONCEPTO" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="buscarTARIFA_CONCEPTO">
      <soap:operation soapAction="http://tempuri.org/buscarTARIFA_CONCEPTO" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="listarTARIFA_CONCEPTO">
      <soap:operation soapAction="http://tempuri.org/listarTARIFA_CONCEPTO" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="eliminarTARIFA_CONCEPTO">
      <soap:operation soapAction="http://tempuri.org/eliminarTARIFA_CONCEPTO" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ServiciosTARIFA_CONCEPTOSoap12" type="tns:ServiciosTARIFA_CONCEPTOSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="crearTARIFA_CONCEPTO">
      <soap12:operation soapAction="http://tempuri.org/crearTARIFA_CONCEPTO" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="editarTARIFA_CONCEPTO">
      <soap12:operation soapAction="http://tempuri.org/editarTARIFA_CONCEPTO" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="buscarPrimeroTARIFA_CONCEPTO">
      <soap12:operation soapAction="http://tempuri.org/buscarPrimeroTARIFA_CONCEPTO" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="buscarTARIFA_CONCEPTO">
      <soap12:operation soapAction="http://tempuri.org/buscarTARIFA_CONCEPTO" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="listarTARIFA_CONCEPTO">
      <soap12:operation soapAction="http://tempuri.org/listarTARIFA_CONCEPTO" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="eliminarTARIFA_CONCEPTO">
      <soap12:operation soapAction="http://tempuri.org/eliminarTARIFA_CONCEPTO" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServiciosTARIFA_CONCEPTO">
    <wsdl:port name="ServiciosTARIFA_CONCEPTOSoap" binding="tns:ServiciosTARIFA_CONCEPTOSoap">
      <soap:address location="http://localhost:52393/Model/Services/ServiciosTARIFA_CONCEPTO.asmx" />
    </wsdl:port>
    <wsdl:port name="ServiciosTARIFA_CONCEPTOSoap12" binding="tns:ServiciosTARIFA_CONCEPTOSoap12">
      <soap12:address location="http://localhost:52393/Model/Services/ServiciosTARIFA_CONCEPTO.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>