EscuelaConduccion/EscuelaConduccion/Web References/wsServiciosFACTURA/ServiciosFACTURA.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="crearFACTURA">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="obj" type="tns:FACTURA" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="FACTURA">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="ID_FACTURA_ESTADO" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="ID_LIQUIDACION" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="NUMERO_FACTURA" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DISPONIBLE" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ARCHIVO_FISICO" type="s:base64Binary" />
        </s:sequence>
      </s:complexType>
      <s:element name="crearFACTURAResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="crearFACTURAResult" type="tns:FACTURA" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="generarFACTURA">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="liquidacion" type="tns:LIQUIDACION" />
            <s:element minOccurs="0" maxOccurs="1" name="lstDetalles" type="tns:ArrayOfLIQUIDACION_DETALLE" />
            <s:element minOccurs="0" maxOccurs="1" name="myCliente" type="tns:VIEW_CLIENTE" />
            <s:element minOccurs="0" maxOccurs="1" name="rango" type="tns:Facturaconsecutivodetalle" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="LIQUIDACION">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="ID_CLIENTE" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="ID_TIPO_LIQUIDACION" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="FECHA_LIQUIDACION" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="TOTAL" type="s:float" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfLIQUIDACION_DETALLE">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="LIQUIDACION_DETALLE" nillable="true" type="tns:LIQUIDACION_DETALLE" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="LIQUIDACION_DETALLE">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="ID_LIQUIDACION" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="ID_TARIFA_DETALLE" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="VALOR_CONCEPTO" type="s:float" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="VIEW_CLIENTE">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="TIPO_DOCUMENTO" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="IDENTIFICACION" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="NOMBRES" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="APELLIDOS" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DIRECCION" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CIUDAD" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DEPARTAMENTO" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="GENERO" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TELEFONO" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CELULAR" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CORREO" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="FECHA_NACIMIENTO" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Facturaconsecutivodetalle">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="ID_FACTURACONSECUTIVO" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="CONSECUTIVO" type="s:double" />
          <s:element minOccurs="0" maxOccurs="1" name="DISPONIBLE" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="generarFACTURAResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="generarFACTURAResult" type="tns:FACTURA" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="editarFACTURA">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="obj" type="tns:FACTURA" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="editarFACTURAResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="editarFACTURAResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="buscarPrimeroFACTURA">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="obj" type="tns:FACTURA" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="buscarPrimeroFACTURAResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="buscarPrimeroFACTURAResult" type="tns:FACTURA" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="buscarFACTURA">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="obj" type="tns:FACTURA" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="buscarFACTURAResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="buscarFACTURAResult" type="tns:ArrayOfFACTURA" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfFACTURA">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="FACTURA" nillable="true" type="tns:FACTURA" />
        </s:sequence>
      </s:complexType>
      <s:element name="listarFACTURA">
        <s:complexType />
      </s:element>
      <s:element name="listarFACTURAResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="listarFACTURAResult" type="tns:ArrayOfFACTURA" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="eliminarFACTURA">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="obj" type="tns:FACTURA" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="eliminarFACTURAResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="eliminarFACTURAResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="crearFACTURASoapIn">
    <wsdl:part name="parameters" element="tns:crearFACTURA" />
  </wsdl:message>
  <wsdl:message name="crearFACTURASoapOut">
    <wsdl:part name="parameters" element="tns:crearFACTURAResponse" />
  </wsdl:message>
  <wsdl:message name="generarFACTURASoapIn">
    <wsdl:part name="parameters" element="tns:generarFACTURA" />
  </wsdl:message>
  <wsdl:message name="generarFACTURASoapOut">
    <wsdl:part name="parameters" element="tns:generarFACTURAResponse" />
  </wsdl:message>
  <wsdl:message name="editarFACTURASoapIn">
    <wsdl:part name="parameters" element="tns:editarFACTURA" />
  </wsdl:message>
  <wsdl:message name="editarFACTURASoapOut">
    <wsdl:part name="parameters" element="tns:editarFACTURAResponse" />
  </wsdl:message>
  <wsdl:message name="buscarPrimeroFACTURASoapIn">
    <wsdl:part name="parameters" element="tns:buscarPrimeroFACTURA" />
  </wsdl:message>
  <wsdl:message name="buscarPrimeroFACTURASoapOut">
    <wsdl:part name="parameters" element="tns:buscarPrimeroFACTURAResponse" />
  </wsdl:message>
  <wsdl:message name="buscarFACTURASoapIn">
    <wsdl:part name="parameters" element="tns:buscarFACTURA" />
  </wsdl:message>
  <wsdl:message name="buscarFACTURASoapOut">
    <wsdl:part name="parameters" element="tns:buscarFACTURAResponse" />
  </wsdl:message>
  <wsdl:message name="listarFACTURASoapIn">
    <wsdl:part name="parameters" element="tns:listarFACTURA" />
  </wsdl:message>
  <wsdl:message name="listarFACTURASoapOut">
    <wsdl:part name="parameters" element="tns:listarFACTURAResponse" />
  </wsdl:message>
  <wsdl:message name="eliminarFACTURASoapIn">
    <wsdl:part name="parameters" element="tns:eliminarFACTURA" />
  </wsdl:message>
  <wsdl:message name="eliminarFACTURASoapOut">
    <wsdl:part name="parameters" element="tns:eliminarFACTURAResponse" />
  </wsdl:message>
  <wsdl:portType name="ServiciosFACTURASoap">
    <wsdl:operation name="crearFACTURA">
      <wsdl:input message="tns:crearFACTURASoapIn" />
      <wsdl:output message="tns:crearFACTURASoapOut" />
    </wsdl:operation>
    <wsdl:operation name="generarFACTURA">
      <wsdl:input message="tns:generarFACTURASoapIn" />
      <wsdl:output message="tns:generarFACTURASoapOut" />
    </wsdl:operation>
    <wsdl:operation name="editarFACTURA">
      <wsdl:input message="tns:editarFACTURASoapIn" />
      <wsdl:output message="tns:editarFACTURASoapOut" />
    </wsdl:operation>
    <wsdl:operation name="buscarPrimeroFACTURA">
      <wsdl:input message="tns:buscarPrimeroFACTURASoapIn" />
      <wsdl:output message="tns:buscarPrimeroFACTURASoapOut" />
    </wsdl:operation>
    <wsdl:operation name="buscarFACTURA">
      <wsdl:input message="tns:buscarFACTURASoapIn" />
      <wsdl:output message="tns:buscarFACTURASoapOut" />
    </wsdl:operation>
    <wsdl:operation name="listarFACTURA">
      <wsdl:input message="tns:listarFACTURASoapIn" />
      <wsdl:output message="tns:listarFACTURASoapOut" />
    </wsdl:operation>
    <wsdl:operation name="eliminarFACTURA">
      <wsdl:input message="tns:eliminarFACTURASoapIn" />
      <wsdl:output message="tns:eliminarFACTURASoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ServiciosFACTURASoap" type="tns:ServiciosFACTURASoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="crearFACTURA">
      <soap:operation soapAction="http://tempuri.org/crearFACTURA" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="generarFACTURA">
      <soap:operation soapAction="http://tempuri.org/generarFACTURA" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="editarFACTURA">
      <soap:operation soapAction="http://tempuri.org/editarFACTURA" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="buscarPrimeroFACTURA">
      <soap:operation soapAction="http://tempuri.org/buscarPrimeroFACTURA" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="buscarFACTURA">
      <soap:operation soapAction="http://tempuri.org/buscarFACTURA" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="listarFACTURA">
      <soap:operation soapAction="http://tempuri.org/listarFACTURA" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="eliminarFACTURA">
      <soap:operation soapAction="http://tempuri.org/eliminarFACTURA" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ServiciosFACTURASoap12" type="tns:ServiciosFACTURASoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="crearFACTURA">
      <soap12:operation soapAction="http://tempuri.org/crearFACTURA" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="generarFACTURA">
      <soap12:operation soapAction="http://tempuri.org/generarFACTURA" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="editarFACTURA">
      <soap12:operation soapAction="http://tempuri.org/editarFACTURA" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="buscarPrimeroFACTURA">
      <soap12:operation soapAction="http://tempuri.org/buscarPrimeroFACTURA" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="buscarFACTURA">
      <soap12:operation soapAction="http://tempuri.org/buscarFACTURA" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="listarFACTURA">
      <soap12:operation soapAction="http://tempuri.org/listarFACTURA" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="eliminarFACTURA">
      <soap12:operation soapAction="http://tempuri.org/eliminarFACTURA" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServiciosFACTURA">
    <wsdl:port name="ServiciosFACTURASoap" binding="tns:ServiciosFACTURASoap">
      <soap:address location="http://localhost:52393/Model/Services/ServiciosFACTURA.asmx" />
    </wsdl:port>
    <wsdl:port name="ServiciosFACTURASoap12" binding="tns:ServiciosFACTURASoap12">
      <soap12:address location="http://localhost:52393/Model/Services/ServiciosFACTURA.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>