EscuelaConduccion/EscuelaConduccion/Web References/wsServiciosSQL/ServiciosSQL.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="consultaSQL">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sql" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="nombre_tabla" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="consultaSQLResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="consultaSQLResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="consultaSQLSoapIn">
    <wsdl:part name="parameters" element="tns:consultaSQL" />
  </wsdl:message>
  <wsdl:message name="consultaSQLSoapOut">
    <wsdl:part name="parameters" element="tns:consultaSQLResponse" />
  </wsdl:message>
  <wsdl:portType name="ServiciosSQLSoap">
    <wsdl:operation name="consultaSQL">
      <wsdl:input message="tns:consultaSQLSoapIn" />
      <wsdl:output message="tns:consultaSQLSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ServiciosSQLSoap" type="tns:ServiciosSQLSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="consultaSQL">
      <soap:operation soapAction="http://tempuri.org/consultaSQL" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ServiciosSQLSoap12" type="tns:ServiciosSQLSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="consultaSQL">
      <soap12:operation soapAction="http://tempuri.org/consultaSQL" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServiciosSQL">
    <wsdl:port name="ServiciosSQLSoap" binding="tns:ServiciosSQLSoap">
      <soap:address location="http://localhost:52393/Model/Services/ServiciosSQL.asmx" />
    </wsdl:port>
    <wsdl:port name="ServiciosSQLSoap12" binding="tns:ServiciosSQLSoap12">
      <soap12:address location="http://localhost:52393/Model/Services/ServiciosSQL.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>